body,html{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 30px;
    font-weight: 100;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 0 50px;
}
ul,li,a{
    text-decoration: none;
    color: #2c2c27;
}
header{
    position: relative;
    z-index: 1;
    width: 100%;

}
section{
    display: block;
    height: 100%;
}
/*classes and header sections*/
 .header-ctn {
    z-index: 1;
    border-bottom: 1px solid rgba(220,220,198,0.5);
    height: 60px;
	background-color: #fff;
    position: fixed;

    width: 100%;
    top: 0px;
}
.logo {
    font-weight: 600;
	font-family: tangerine;
    font-size: 1.5em;
    color: black;
    transition: color .4s ease;
}
.logo:hover {
    cursor: pointer;
	color: #800000;
}
.left {
    float: left;
	margin-top: 17px;
}
.left-nb {
	float:right;

}
/*projects section*/
.card {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.card li {
	display: inline-block;
	width: 540px;
	margin: 0;
	padding: 20px;
    padding-bottom: 30px;
	text-align: left;
	position: relative;
}
.card figure {
	margin: 0;
	position: relative;
}
.card figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.card figcaption {
    width: 540px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background:#800;
	color: #fff;
}
.card figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.card figcaption span:before {
	content: 'by ';
    color: #000;
}

.card figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 1px;
    border: 1px solid gray;
	display: inline-block;
	background: #fff;
	color: #000;
}
/*card hovers*/
.style figcaption{
	height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}
.style figcaption:hover{
    opacity: 1;
    transform: translateY(-100px);
}
.style figcaption h3{
    margin-top: 70px;
}
.style figcaption span{
    display: block;
    color: ;
}
.style figcaption a{
    margin-top: 30px;
    transition: all .3s ease-in-out;
}
.style figcaption a:hover{
    background: #330000;
    color: #fff;

}
/*id's styles*/
#about {
	padding-top: 60px;
}
