body,html{
    position: relative;
    scoll-behaviour:smooth;
    -webkit-scroll-behaviour:smooth;
    margin: 0;
    padding: 0;
    font-family: poiret-one;
    line-height: 50px;
    font-weight: 500;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: #2c2c27;
    padding: 30px;
    transition: all .2s ease;
}
ul li  a:hover{
    padding: 8px 50px;
    background-color: #200;
    color:#fff;
}
header{
    position: relative;
    z-index: 1;
    width: 100%;

}
section{
    display: block;
    height: 100%;
}
hr{
    border: 1px solid #200;
}
footer{
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
    background-color: #200;
    height: 130px;
    color: #fff;
}
/*classes*/
/*hero area classes and id's*/
.arc > span{
    font-size: 3em;
}
.introduction {
    color: #fff;
	position: relative;
    width: 960px;
    margin: auto;
    text-align: center;
    padding-top: 90px;
}
.intro-txt {
	position: relative;
    line-height: 30px;
    font-size: 2em;
}
.intro-txt .slide, h1{


}
.projo {
	margin-top: 400px;
}
#hero a {
    text-decoration: none;
    text-align: center;
    background: #fff;
    color: #000;

    margin-left:45%;
    padding: 20px 30px;
    transition: all .2s ease-in-out;
}
#hero a:hover{
    padding: 30px 30px;
    background-color: rgba(128,0,0,0.9);
    color: #fff;

}

/* header sections*/
 .header-ctn {
    z-index: 1;
    border-bottom: 1px solid rgba(220,220,198,0.5);
    height: 60px;
	background-color: #fff;
    position: fixed;

    width: 100%;
    top: 0px;
}
.logo {
    font-weight: 600;
	font-family: tangerine;
    font-size: 1.5em;
    color: black;
    transition: color .4s ease;
}
.logo:hover {
    cursor: pointer;
	color: #800000;
}
.left {
    float: left;
	margin-top: 17px;
}
.left-nb {
	float:right;

}
/*projects section*/
.card {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.card li {
	display: inline-block;
	width: 550px;
	margin: 0;
	padding: 20px;
    padding-bottom: 30px;
	text-align: left;
	position: relative;
}
.card figure {
	margin: 0;
	position: relative;
}
.card figure img {
	max-width: 100%;
    width: 540px;
	display: block;
	position: relative;
}
.card figcaption {
    width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background:rgba(128,0,0,0.8);
	color: #fff;
}
.card figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.card figcaption span:before {
	content: 'by ';
    color: #000;
}

.card figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 1px;
    border: 1px solid gray;
	display: inline-block;
	background: #fff;
	color: #000;
}
/*card hovers*/
.style figcaption{
	height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
}
.style figcaption:hover{
    z-index: 99999;
    opacity: 1;
    transform: translateY(40px);
}
.style figcaption h3{
    margin-top: 70px;
}
.style figcaption span{
    display: block;
    color: ;
}
.style figcaption a{
    margin-top: 30px;
    transition: all .3s ease-in-out;
}
.style figcaption a:hover{
    background: #330000;
    color: #fff;

}

/***************footer ********/
.icon{
    color: #fff;;
    transition: all .2s ease;
}
.icon:hover{
    transform: scale(3);
}
/*id's styles*/
#hero {
    height: 934.5px;
    background:#200 ;
	padding-top: 60px;
}
#work {
	padding-top: 50px;
}
#about {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 1.5em;
}
